-- 1. Add 'announcement' to notification_type ENUM
ALTER TYPE notification_type ADD VALUE IF NOT EXISTS 'announcement';

-- 2. Add message_id to notifications table
ALTER TABLE public.notifications ADD COLUMN IF NOT EXISTS message_id UUID REFERENCES public.public_messages(id) ON DELETE CASCADE;

-- 3. Trigger to notify all users on announcement
CREATE OR REPLACE FUNCTION notify_on_announcement()
RETURNS trigger AS \$\$
BEGIN
  -- If the message is in the 'announcements' room
  IF NEW.room_id = 'announcements' THEN
    -- Insert a notification for every user EXCEPT the actor (admin)
    INSERT INTO public.notifications (user_id, actor_id, type, message_id)
    SELECT id, NEW.user_id, 'announcement', NEW.id
    FROM public.profiles
    WHERE id != NEW.user_id;
  END IF;
  
  RETURN NEW;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;

DROP TRIGGER IF EXISTS on_announcement_notify ON public.public_messages;
CREATE TRIGGER on_announcement_notify
  AFTER INSERT ON public.public_messages
  FOR EACH ROW EXECUTE FUNCTION notify_on_announcement();
