-- 1. Add new ENUM values
ALTER TYPE notification_type ADD VALUE IF NOT EXISTS 'save';
ALTER TYPE notification_type ADD VALUE IF NOT EXISTS 'share';
ALTER TYPE notification_type ADD VALUE IF NOT EXISTS 'copy';
ALTER TYPE notification_type ADD VALUE IF NOT EXISTS 'pending_approval';

-- 2. Make actor_id nullable
ALTER TABLE public.notifications ALTER COLUMN actor_id DROP NOT NULL;

-- 3. Trigger for save notifications
CREATE OR REPLACE FUNCTION notify_on_save()
RETURNS trigger AS \$\$
DECLARE
  prompt_owner_id uuid;
BEGIN
  SELECT user_id INTO prompt_owner_id FROM public.prompts WHERE id = NEW.prompt_id;
  
  -- Don't notify if saving own prompt
  IF NEW.user_id != prompt_owner_id THEN
    INSERT INTO public.notifications (user_id, actor_id, type, prompt_id)
    VALUES (prompt_owner_id, NEW.user_id, 'save', NEW.prompt_id);
  END IF;
  RETURN NEW;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;

DROP TRIGGER IF EXISTS on_save_notify ON public.prompts_saves;
CREATE TRIGGER on_save_notify
  AFTER INSERT ON public.prompts_saves
  FOR EACH ROW EXECUTE FUNCTION notify_on_save();

